{% extends 'parent.html' %}
{% block tittle %}Chatgptmall | APIKEY{% endblock %}
{% load static %}
{% block body %}
<br><br><br>
{% if request.user.is_authenticated %}
<main class="container">
  <div class="bg-light p-5 rounded mt-3">
    <h1>Generate Your API Key</h1>
          <div id="key_div">
            <p class="lead" id="api_key">{{token}}</p>
                      <a data-toggle="tooltip" data-placement="top" title="Copied To Clipboard"
                onclick="get_data('{{token}}')" style="background-color:#5B61EB !important;color:white;" class="btn btn-lg my-3 mb-2">
                          <i class="copy fa fa-clone"
                                           style="font-size:24px;cursor:pointer;"></i>
                        </a>
                <i style="cursor:pointer;" class="fa fa-trash" aria-hidden="true" id="delete_token"></i>
          </div>
      <br>
    <a class="btn btn-lg btn-primary" role="button" id="generate_new_key">Generate New API Key</a>
  </div>
</main>
{% else %}
<h2>Please Login to generate API keys</h2>
{% endif %}

{% endblock %}