{% extends 'base.html' %}
{% block title %}Chatgptmall | VoiceToImage{% endblock title %}
{% load static %}
{% block content %}
          <div class="container">
            <br>
            <h1>Generate your perfect product’s image <br>based on your voice chat</h1><br><br>
            <div class="experiment row" >
                <br>
                <div>
                    <button id="start-recording">
                    <img class="mic_icon" src="{% static 'images/mic.jpeg' %}">
                </button>
                <button id="stop-recording" disabled>
                    <img class="mic_icon" src="{% static 'images/stop_mic.png' %}">
                </button>
                <button id="pause-recording" disabled></button>
                <button id="resume-recording" disabled></button>
                </div>

            </div>

            <section class="experiment">
                <div id="audios-container"></div>
            </section>
            <div>

                <div id="text_div" style="display:flex;">
                     <input type="text" class="form-control" name="voice_text" id="voice_text">
                    <div>
                    <button id="voice_text_btn">Generate Images</button>
                </div>
                </div>

         </div>
        <div class="container" style="margin-top: 67px;">
           <div class="row" id="openai">
               <img id="loading" src="{% static 'images/loading.svg' %}">
           </div>
        </div>
          </div>
    <div>
        <button id="submit_command" style="display:none;"></button>
    </div>

{% endblock content %}