<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400&family=DM+Sans:wght@400;500;700&family=Inconsolata:wght@400;700&family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;700;800&family=Montserrat:wght@200;500;600;700;800;900&family=Nunito:wght@400;500;600;700&family=Open+Sans&family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet">
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
    <style>
      .p-3 p{
        color:white !important;
      }

.cont {
  border: 2px solid #5B61EB;
  background-color: #efecec42;
  border-radius: 5px;
  padding: 10px;
  margin-top: 12px;
}

.darker {
  border-color: #5B61EB;
  background-color: #efecec42;
}

.cont::after {
  content: "";
  clear: both;
  display: table;
}

.cont .prof {
  float: left;
  max-width: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.cont img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
.pagination a{
        font-size: 16px;
        padding: 0px 4px;
      }
      .goog-te-gadget-icon {
    display:none;
  }
  .skiptranslate iframe{
    display:none !important;
  }

  .goog-te-gadget-simple {
      background-color: #ecebf0 !important;
      border:0 !important;
      font-size: 10pt;
     font-weight:800;
      display: inline-block;
      padding:10px 10px !important;
      cursor: pointer;
      zoom: 1;
  }

  .goog-te-gadget-simple  span {
     color:#3e3065 !important;

  }
  body {
      top: 0px !important;
      }

    </style>
    <title>CHATGPTMALL | {{community.name}}</title>
  </head>
  <body>
    <!------------------------------Header section---------------------------->
    <nav class="navbar navbar-expand-lg" style="padding: 20px;">
      <div class="container">
        <a class="navbar-brand" href="{% url 'HomepageView' %}">
          {% if show_logo %}
          <img style="height: 68px;position: relative;top: 21px;"
               src="https://www.zkteco.com/cn/uploads/image/20230228/5142aefc758659aafe58c2832e6d13f5.png">
          {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent" style="display: flex !important;">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item nav-item-active">
              <a class="nav-link active-link fw-bold" aria-current="page"
                href="{% url 'HomepageView' %}">Home</a>
            </li>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Marketing
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'IndustriesView' %}">Industries</a></li>
              <li><a class="dropdown-item" href="{% url 'JobsView' %}">Job Roles</a></li>
              <li><a class="dropdown-item" href="{% url 'CapabilitiesView' %}">Capabilities</a></li>
            </ul>
           </li>
          </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Our Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'VoiceToVoice' %}">Voice To Voice</a></li>
              <li><a class="dropdown-item" href="{% url 'VoiceToImage' %}">Voice To Image</a></li>
              <li><a class="dropdown-item" href="{% url 'TextToText' %}">Text To Text</a></li>
              <li><a class="dropdown-item" href="{% url 'TextToImage' %}">Text To Image</a></li>
            </ul>
           </li>
          </ul>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'our_plans' %}">Our Plans</a>
            </li>
              <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Communities
            </a>
            <ul class="dropdown-menu">
              {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'DownloadTeams' %}">Download Communities</a></li>
              <li><a class="dropdown-item" href="{% url 'CreateTeams' %}">Create Communities</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'Communities' %}">All Communities</a></li>
              <li><a class="dropdown-item" href="{% url 'JoinedCommunities' %}">Joined Communities</a></li>
            </ul>
           </li>
          </ul>

            <div id="google_translate_element"></div>
          {% if request.user.is_authenticated %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             {{request.user.get_full_name}}
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'ProfileView' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'ApiKeyView' %}">API Key</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="">Leave Team</a></li>
              <li><a class="dropdown-item" href="{% url 'Logout' %}">Logout</a></li>
            </ul>
           </li>
          </ul>
          {% else %}
          <div class="d-flex">
            <a href="{% url 'LoginView' %}" class="btn signin">Sign In</a>
            <a href="{% url 'RegisterView' %}" class="btn register-btn">Register now </a>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>

{% if messages %}
    {% for message in messages %}
    <div class="container" style="display: flex;justify-content: center;">
        <div class="alert alert-success alert-dismissible col-md-6" style="padding:27px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{message}}</strong>
        </div>
    </div>
    {% endfor %}
    {% endif %}


    <div class="container" style="display: flex;justify-content: space-between;">
        <h2>OpenAI Responses</h2>
        <div>
        <input style="opacity:0;" type="text" value="{{uri}}team/share/{{community.id}}/" id="comm">
        <button style="background-color:#5B61EB !important;color:white;"class="btn btn-lg my-3 mb-2"
                data-toggle="modal" data-target="#myModal">View Members</button>
        <button data-toggle="tooltip" data-placement="top" title="Copied To Clipboard"
                onclick="get_data()" style="background-color:#5B61EB !important;color:white;" class="btn btn-lg my-3 mb-2">
                          Share <i class="copy fa fa-clone"
                                           style="font-size:24px;cursor:pointer;"></i>
                        </button>
            <button style="background-color:#5B61EB !important;color:white;"class="btn btn-lg my-3 mb-2"
                data-toggle="modal" data-target="#myModal2">Upload items</button>
            </div>
    </div>
    {% for post in page_obj %}
    {% if post.input_image %}
        <div class="container cont darker">
          <img class="right" src="https://i.pinimg.com/474x/4b/71/f8/4b71f8137985eaa992d17a315997791e.jpg" alt="Avatar" style="width:27px;">
          <div class="row">
              <img style="height:200px;width:200px;" src="{{post.input_image}}">
          </div>
          <span class="time-left">{{post.added_on}}</span>
        </div>
    {% else %}
        <div class="container cont">
          <img class="prof" src="https://i.pinimg.com/474x/4b/71/f8/4b71f8137985eaa992d17a315997791e.jpg" alt="Avatar" style="width:100%;">
            <p>{{post.user.get_full_name}}</p>
            <p>{{post.question}}</p>
          <span class="time-right">{{post.added_on}}</span>
        </div>
    {% endif %}

    {% if post.image1 or post.image2 or post.image3 %}
    <div class="container cont darker">
      <img class="right" src="https://w1.pngwing.com/pngs/278/853/png-transparent-line-art-nose-chatbot-internet-bot-artificial-intelligence-snout-head-smile-black-and-white.png" alt="Avatar" style="width:27px;">
      <div class="row">
          <img style="height:200px;width:200px;" src="{{post.image1}}">
          <img style="height:200px;width:200px;" src="{{post.image2}}">
          <img style="height:200px;width:200px;" src="{{post.image3}}">
      </div>
      <span class="time-left">{{post.added_on}}</span>
    </div>
    {% else %}
    {% if post.response_image %}
        <div class="container cont darker">
          <img class="right" src="https://w1.pngwing.com/pngs/278/853/png-transparent-line-art-nose-chatbot-internet-bot-artificial-intelligence-snout-head-smile-black-and-white.png" alt="Avatar" style="width:27px;">
          <div class="row">
              <img style="height:200px;width:200px;" src="{{post.response_image}}">
          </div>
          <span class="time-left">{{post.added_on}}</span>
        </div>
    {% else %}
        <div class="container cont darker">
          <img src="https://w1.pngwing.com/pngs/278/853/png-transparent-line-art-nose-chatbot-internet-bot-artificial-intelligence-snout-head-smile-black-and-white.png" alt="Avatar" class="right" style="width:27px;">
          <p>{{post.response}}</p>
          <span class="time-left">{{post.added_on}}</span>
        </div>
        {% endif %}
    {% endif %}
    {% endfor %}


    <div class="container pagination" style="display: flex;justify-content: center;padding:17px 0px;">
      {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}&team_id={{team_id}}">« Previous</a>

          {% if page_obj.number > 3 %}
            <a href="?page=1&team_id={{team_id}}">1</a>
            {% if page_obj.number > 4 %}
              <span>...</span>
            {% endif %}
          {% endif %}
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a href="?page={{ num }}&team_id={{team_id}}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}&team_id={{team_id}}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
            <span style="color:blue;">...</span>
            <a href="?page={{ page_obj.paginator.num_pages }}&team_id={{team_id}}">{{ page_obj.paginator.num_pages }}</a>
          {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
            <a href="?page={{ page_obj.paginator.num_pages }}&team_id={{team_id}}">{{ page_obj.paginator.num_pages }}</a>
          {% endif %}

          <a href="?page={{ page_obj.next_page_number }}&team_id={{team_id}}">Next »</a>
        {% endif %}
    </div>


    <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Team Members</h3>
        </div>
        <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
              {% for member in members %}
                <tr>
                  <td>{{member.f_name}}</td>
                  <td>{{member.l_name}}</td>
                    {% if is_leader and request.user.email != member.email %}
                        <td><button style="background:none;" id="remove">X</button></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color:#5B61EB !important;color:white;">X</button>
        </div>
      </div>

    </div>
  </div>

</div>

    <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Community Post</h3>
        </div>
        <div class="modal-body">
            <form class="row g-3" action="{% url 'UploadCommunityPost' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="team_id" value="{{community.community_id}}">
              <div class="col-md-12">
                <label for="inputEmail4" class="form-label">Item Name</label>
                <input type="text" name="item_name" class="form-control" id="inputEmail4" placeholder="item name" required>
              </div>
              <div class="col-md-12">
                <label for="inputPassword4" class="form-label">Item Category</label>
                <input type="text" name="item_category" class="form-control" id="inputPassword4" placeholder="item category" required>
              </div>
              <div class="col-md-12">
                <label for="inputAddress" class="form-label">How To Use?</label>
                  <textarea class="form-control" name="item_desc" id="inputAddress" placeholder="Item Description" required></textarea>
              </div>
                <div class="col-md-12">
                    <label for="formFile" class="form-label">Item Image</label>
                    <input class="form-control" name="item_image" type="file" id="formFile" required>
                </div>
                <div class="col-md-12">
                    <label for="formFile" class="form-label">Item Video(Optional)</label>
                    <input class="form-control" name="item_video" type="file" id="video">
                </div>
              <div class="col-md-12">
                <label for="inputState" class="form-label">Upload Items To Shop</label>
                <select id="inputState" name="upload" class="form-select" required>
                  <option selected>Choose...</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
              </div>
              <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Upload Item To Community</button>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color:#5B61EB !important;color:white;">X</button>
        </div>
      </div>

    </div>
  </div>

</div>


<!--    <div>-->
<!--      <div class="tutorial-section">-->
<!--        <div class="main-container">-->
<!--          <div class="container py-5">-->
<!--            <div class="row">-->
<!--              <div class="d-flex flex-wrap py-4">-->

<!--                <div class="col-md-6">-->
<!--                  <div class="tutorial-content-container my-2 mx-2">-->
<!--                    <div class=" mt-5">-->
<!--                      <h2 class="tutorial-headline">Our R&D 's location</h2>-->
<!--                      <p class="tutorial-paragraph py-3">One9Five Asoke – Rama 9, Bangkok, Thailand</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-6">-->
<!--                  <div class="blog-card-container mt-5">-->
<!--                    <div class="feature-section-img-container">-->
<!--                      <img style="border-radius: 69px;" class="w-100" src="{% static 'images/location.jpeg' %}"-->
<!--                        alt="images/video.png">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->



<!--              </div>-->
<!--            </div>-->

<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->




      <!--------------------------------Our Team------------------------------------->
<!--      <div>-->
<!--        <div class="team-section">-->
<!--          <div class="container">-->
<!--            <div class="row py-5">-->
<!--              <h2 class="team-headline py-5">Our Team</h2>-->
<!--              <div class="owl-carousel owl-theme py-5">-->
<!--                {% for member in  team_members %}-->
<!--                <div class="mx-2">-->
<!--                  <img style="height:250px;width: 85% !important;" src="media/{{member.profile}}" alt="team-1.png">-->
<!--                  <h5 class="py-3 teacher-name">{{member.name}}</h5>-->
<!--                  <p class="teacher-caption">{{member.designation}}</p>-->
<!--                </div>-->
<!--                {% endfor %}-->
<!--              </div>-->


<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->




      <!--------------------------------Testmonial section------------------------------------->
<!--      <div>-->
<!--        <div class="testmonial-section">-->
<!--          <div class="main-container">-->
<!--            <div class="container py-5">-->
<!--              <div class="row p-3">-->
<!--                <div class="container-content text-center mt-3">-->
<!--                  <h2 class="testmonial-section-headline">Testimonials</h2>-->
<!--                  <h2 class="testmonial-section-subheadline py-2">Some-->
<!--                    testimonials-->
<!--                    from our customers</h2>-->
<!--                </div>-->
<!--                <div class="d-flex flex-wrap my-5">-->
<!--                  {% for testmonial in testmonials %}-->
<!--                  <div class="col-md-4 mt-5 pt-4">-->
<!--                    <div class="testmonial-card-container py-3 mx-3">-->
<!--                      <div class="text-center card-img-container">-->
<!--                        <img src="media/{{testmonial.profile}}"-->
<!--                          alt="testmonial-1.png" style="width: 100px;border-radius: 50px;height: 100px;">-->
<!--                        <div class="mt-4">-->
<!--                          <h4 class="testmonial-card-title">{{testmonial.name}}</h4>-->
<!--                          <h5 class="testmonial-card-subtitle">{{testmonial.company}}</h5>-->
<!--                        </div>-->

<!--                      </div>-->
<!--                      <div class="testmonial-card text-center mx-4">-->
<!--                        <div>-->
<!--                          <p class="testmonial-card-paragraph" style="color:black !important;">{{testmonial.feedback}}</p>-->
<!--                          <div class="d-flex justify-content-center pb-5">-->
<!--                            {% with ''|center:testmonial.stars as range %}-->
<!--                            {% for _ in range %}-->
<!--                                <i class="fa-solid fa-star star-icon mx-1"></i>-->
<!--                            {% endfor %}-->
<!--                            {% endwith %}-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  {% endfor%}-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->




      <!--------------------------------Blog section------------------------------------->
<!--      <div>-->
<!--        <div class="blog-section">-->
<!--          <div class="main-container">-->
<!--            <div class="container py-5">-->
<!--              <div class="row p-3">-->
<!--                <div class="container-content text-center mt-3">-->
<!--                  <h2 class="blog-section-headline">Our Blog</h2>-->
<!--                </div>-->
<!--                <div class="d-flex flex-wrap py-4">-->
<!--                  {% for blog in blogs %}-->
<!--                  <div class="col-md-4">-->
<!--                    <div class="blog-card-container my-2 mx-2">-->
<!--                      <div class="blog-card-img-container">-->
<!--                        <img class="w-100" src="media/{{blog.thumbnail}}"-->
<!--                          alt="blog.png">-->
<!--                      </div>-->
<!--                      <div class="blog-card">-->
<!--                        <div class="blog-card-title-container mx-3 mt-4">-->
<!--                          <p class="blog-cad-title py-2">{{blog.title}}</p>-->
<!--                        </div>-->
<!--                        <p class="blog-card-paragraph">{{blog.description|safe|truncatechars:60}}</p>-->
<!--                        <a class="blog-card-button" href="#">Read more</a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  {% endfor %}-->
<!--                  <button class="btn view-button mt-5 px-5">View All </button>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->




      <!--------------------------------Footer section------------------------------------->
<!--      <footer class="footer-section py-4">-->
<!--        <div class="container">-->
<!--          <div class="row pt-5">-->
<!--            <div class="col-md-5 py-2">-->
<!--              <div>-->
<!--                <div>-->
<!--                  <img src="{% static 'homepage/images/logo.png' %}">-->
<!--                  <p class="copyrights-paragraph">-->
<!--                    Copyright © ENGenglish All rights reserved. The material on-->
<!--                    this site cannot be reproducted or redistributed unless you-->
<!--                    have obtained prior wirtten permission from ENGenglish.-->
<!--                    ENGenglish are registered trademarks of ENGenglish a part of-->
<!--                    Cergage Learning.-->
<!--                  </p>-->
<!--                </div>-->
<!--                <div class="contacts-container pt-5">-->
<!--                  <h5 class="footer-headlines pt-5">Contact Us</h5>-->
<!--                  <div class="contacts-container">-->
<!--                    <div class="d-flex py-3">-->
<!--                      <div class="contact-background mx-2 "><i class="fa-solid-->
<!--                          fa-envelope py-3 px-3 contact-icon"></i></div>-->
<!--                      <div class="contact-background mx-2"><i class="fa-solid-->
<!--                          fa-phone py-3 px-3 contact-icon"></i></div>-->
<!--                      <div class="contact-background mx-2"><i class="fa-brands-->
<!--                          fa-rocketchat py-3 px-3 contact-icon"></i></div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-md-7">-->
<!--              <div class="d-flex">-->
<!--                <div class="col-md-4 py-3">-->
<!--                  <h5 class="footer-headlines">Course Categories</h5>-->
<!--                  {% for category in categories %}-->
<!--                  <div class="py-2"><a class="footer-links" href="#">{{category.category_name}}</a></div>-->
<!--                  {% endfor %}-->
<!--                </div>-->



<!--                <div class="col-md-4 py-3">-->
<!--                  <h5 class="footer-headlines">Resources</h5>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">About-->
<!--                      ENGenglish</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Find A-->
<!--                      School</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Help</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Careers</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Partner-->
<!--                      With Us</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Blog</a></div>-->
<!--                </div>-->


<!--                <div class="col-md-4 py-3">-->
<!--                  <h5 class="footer-headlines">Taking ENGenglish Courses</h5>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Financial-->
<!--                      Assistance</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Externship-->
<!--                      Programs</a></div>-->
<!--                  <a class="footer-links" href="#">MyCAA</a>-->

<!--                </div>-->
<!--              </div>-->


<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--        <hr/>-->
<!--          <div class="py-4">-->
<!--            <div class="container">-->
<!--              <div class="row">-->
<!--                <div>-->
<!--                  <div class="d-flex justify-content-between">-->
<!--                    <div><p class="copyrights-paragrah">Copyright ® 2021 Lorem-->
<!--                        All rights Rcerved</p></div>-->
<!--                    <div class="social-links-container">-->
<!--                      <div class="d-flex">-->
<!--                        <div class="links-background mx-1 "><i class="fa-brands-->
<!--                            fa-facebook-f p-3 social-icon"></i></div>-->
<!--                        <div class="links-background mx-1"><i class="fa-brands-->
<!--                            fa-instagram p-3 social-icon"></i></div>-->
<!--                        <div class="links-background mx-1"><i class="fa-brands-->
<!--                            fa-twitter p-3 social-icon"></i></div>-->
<!--                        <div class="links-background mx-1"><i class="fa-brands-->
<!--                            fa-linkedin-in p-3 social-icon"></i></div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </footer>-->


        <!--------------------------------loading section------------------------------------->
        <div id="loading">
          <i class="fa fa-spinner fa-spin fa-3x text-white"></i>
        </div>




        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
  <script>
      function get_data(){
            var text = document.getElementById("comm");
            text.select();
            document.execCommand("copy");
      }
  </script>
  <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>

<script type="text/javascript">
   function setCookie(key, value, expiry) {
      var expires = new Date();
      expires.setTime(expires.getTime() + (expiry * 24 * 60 * 60 * 1000));
      document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
    }
      function googleTranslateElementInit() {
                  setCookie('googtrans', '/en/zh-CN',1);
                  new google.translate.TranslateElement({
                    pageLanguage: 'en',
                    includedLanguages: "ar,en,es,jv,ko,pa,pt,ru,zh-CN,zh-TW,ny,af,sq,am,hy,as,ay,az,bm,eu,be,bn,bho,bs,bg,my,ca,ceb,ny,co,hr,cs,da,dv,doi,nl,eo,et,ee,tl,fi,fr,fy,gl,ka,de,el,gn,gu,ht,ha,haw,iw,hi,hmn,hu,is,ig,ilo,id,ga,it,ja,jw,kn,kk,km,rw,gom,ko,kri,ku,ckb,ky,lo,la,lv,ln,lt,lg,lb,mk,mai,mg,ms,ml,mt,mi,mr,mni-Mtei,lus,mn,ne,no,or,pt,ro,pl,fa,sr,th,tr,uk",
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                  },
                  'google_translate_element');
            }
</script>
      </body>
    </html>