{% extends 'parent.html' %}
{% block tittle %}Chatgptmall | Community Responses{% endblock %}
{% load static %}
{% block body %}
<br><br><br><br><br><br>
{% if messages %}
    {% for message in messages %}
    <div class="container" style="display: flex;justify-content: center;">
        <div class="alert alert-success alert-dismissible col-md-6" style="padding:27px">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <strong>{{message}}</strong>
        </div>
    </div>
    {% endfor %}
    {% endif %}


    <div class="container" style="display: flex;justify-content: space-between;">
        <h2>OpenAI Responses</h2>
        <div>
        <input style="opacity:0;" type="text" value="{{uri}}team/share/{{community.id}}/" id="comm">
        <button style="background-color:#5B61EB !important;color:white;"class="btn btn-lg my-3 mb-2"
                data-toggle="modal" data-target="#myModal">View Members</button>
        <button data-toggle="tooltip" data-placement="top" title="Copied To Clipboard"
                onclick="get_data('{{uri}}team/share/{{community.id}}/')" style="background-color:#5B61EB !important;color:white;" class="btn btn-lg my-3 mb-2">
                          Share <i class="copy fa fa-clone"
                                           style="font-size:24px;cursor:pointer;"></i>
                        </button>
            <button style="background-color:#5B61EB !important;color:white;"class="btn btn-lg my-3 mb-2"
                data-toggle="modal" data-target="#myModal2">Upload items</button>
            <button style="background-color:#5B61EB !important;color:white;"class="btn btn-lg my-3 mb-2"
                data-toggle="modal" data-target="#myModal3">Restricted Keywords</button>
            </div>
    </div>
    {% for post in page_obj %}
    {% if post.input_image %}
        <div class="container cont darker">
          <img class="right" src="https://i.pinimg.com/474x/4b/71/f8/4b71f8137985eaa992d17a315997791e.jpg" alt="Avatar" style="width:27px;">
          <div class="row">
              <img style="height:200px;width:200px;" src="{{post.input_image}}">
          </div>
          <span class="time-left">{{post.added_on}}</span>
        </div>
    {% else %}
        <div class="container cont">
          <img class="prof" src="https://i.pinimg.com/474x/4b/71/f8/4b71f8137985eaa992d17a315997791e.jpg" alt="Avatar" style="width:100%;">
            <p>{{post.user.get_full_name}}</p>
            <p>{{post.question}}</p>
          <span class="time-right">{{post.added_on}}</span>
        </div>
    {% endif %}

    {% if post.image1 or post.image2 or post.image3 %}
    <div class="container cont darker">
      <img class="right" src="https://w1.pngwing.com/pngs/278/853/png-transparent-line-art-nose-chatbot-internet-bot-artificial-intelligence-snout-head-smile-black-and-white.png" alt="Avatar" style="width:27px;">
      <div class="row">
          <img style="height:200px;width:200px;" src="{{post.image1}}">
          <img style="height:200px;width:200px;" src="{{post.image2}}">
          <img style="height:200px;width:200px;" src="{{post.image3}}">
      </div>
      <span class="time-left">{{post.added_on}}</span>
    </div>
    {% else %}
    {% if post.response_image %}
        <div class="container cont darker">
          <img class="right" src="https://w1.pngwing.com/pngs/278/853/png-transparent-line-art-nose-chatbot-internet-bot-artificial-intelligence-snout-head-smile-black-and-white.png" alt="Avatar" style="width:27px;">
          <div class="row">
              <img style="height:200px;width:200px;" src="{{post.response_image}}">
          </div>
          <span class="time-left">{{post.added_on}}</span>
        </div>
    {% else %}
        <div class="container cont darker">
          <img src="https://w1.pngwing.com/pngs/278/853/png-transparent-line-art-nose-chatbot-internet-bot-artificial-intelligence-snout-head-smile-black-and-white.png" alt="Avatar" class="right" style="width:27px;">
            {% if post.item_name %}
            <h2>Item Name: {{post.item_name}}</h2>
            {% endif %}
            <p>
              {% if post.qrcode %}
              <div style="display: flex;flex-direction: column;">
            <div style="display: flex;padding: 10px 33px;">
                <a href="{% url 'LearHowToUse' post.item.item_id %}" class="btn" style="background-color:#5B61EB !important;color:white;">Check Item Detail</a><br>

                {% if item.item_type == "PHYSICAL" %}
                        <a href="{% url 'GetUserItemData' post.item.item_id %}" class="btn btn-primary">BUY NOW</a>
                    {% else %}
                        <a href="{% url 'ShopCheckout' post.item.item_id %}" class="btn btn-primary">BUY NOW</a>
                    {% endif %}
            </div>
            <div style="display:flex;">
                {% if post.image %}
                <img style="width:200px" src="{{post.image.url}}">
                {% endif %}
                <img style="width:200px;margin-left:30px;" src="{{post.qrcode.url}}">
            </div>
            </div>
              {% else %}
              {{post.response}}
              {% endif %}
          </p>
          <span class="time-left">{{post.added_on}}</span>
        </div>
        {% endif %}
    {% endif %}
    {% endfor %}


    <div class="container pagination" style="display: flex;justify-content: center;padding:17px 0px;">
      {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}&team_id={{team_id}}">« Previous</a>

          {% if page_obj.number > 3 %}
            <a href="?page=1&team_id={{team_id}}">1</a>
            {% if page_obj.number > 4 %}
              <span>...</span>
            {% endif %}
          {% endif %}
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
          {% if page_obj.number == num %}
            <a href="?page={{ num }}&team_id={{team_id}}">{{ num }}</a>
          {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
            <a href="?page={{ num }}&team_id={{team_id}}">{{ num }}</a>
          {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
          {% if page_obj.number < page_obj.paginator.num_pages|add:'-3' %}
            <span style="color:blue;">...</span>
            <a href="?page={{ page_obj.paginator.num_pages }}&team_id={{team_id}}">{{ page_obj.paginator.num_pages }}</a>
          {% elif page_obj.number < page_obj.paginator.num_pages|add:'-2' %}
            <a href="?page={{ page_obj.paginator.num_pages }}&team_id={{team_id}}">{{ page_obj.paginator.num_pages }}</a>
          {% endif %}

          <a href="?page={{ page_obj.next_page_number }}&team_id={{team_id}}">Next »</a>
        {% endif %}
    </div>


    <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Team Members</h3>
        </div>
        <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">First Name</th>
                  <th scope="col">Last Name</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody>
              {% for member in members %}
                <tr>
                  <td>{{member.f_name}}</td>
                  <td>{{member.l_name}}</td>
                    {% if is_leader and request.user.email != member.email %}
                        <td><button style="background:none;" id="remove">X</button></td>
                    {% else %}
                    <td></td>
                    {% endif %}
                </tr>
              {% endfor %}
              </tbody>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color:#5B61EB !important;color:white;">X</button>
        </div>
      </div>

    </div>
  </div>

</div>

    <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal2" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Community Post</h3>
        </div>
        <div class="modal-body">
            <form class="row g-3" action="{% url 'UploadCommunityPost' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="hidden" name="team_id" value="{{community.community_id}}">
              <div class="col-md-12">
                <label for="title" class="form-label">Item Name <a href="#" style="margin-left:12px;font-size:25px;" id="text_ai_btn">Use AI Text Generation</a></label>
                  <div>
                  <img src="{% static 'images/loading.svg' %}" style="width:50px;" id="loader_title">
                  </div>
                  <div id="div_query_title">
                    <input class="form-control" type="text" id="query_title" placeholder="Type Your Query">
                      <a style="margin-top:7px;" class="btn btn-primary" id="btn_query_title">Generate Title</a>
                  </div>
                <input type="text" name="item_name"  class="form-control" id="title" placeholder="item name" required>
              </div>
              <div class="col-md-12">
                <label class="form-label">Item Category</label>
                  <input name="item_category" placeholder="Category" class="form-control" required>
              </div>
              <div class="col-md-12">
                <label for="inputAddress" id="query_label" class="form-label">Item Description
                    <a href="#" style="margin-left:12px;font-size:25px;" id="show_ai">Use AI Text Generation</a></label>
                  <div style="display: flex;justify-content: center;">
                  <img src="{% static 'images/loading.svg' %}" style="width:50px;" id="loader">
                  </div>
                  <div id="div_query">
                    <input class="form-control" type="text" id="query" placeholder="Type Your Query">
                      <a style="margin-top:7px;" class="btn btn-primary" id="btn_query">Generate Text</a>
                  </div>
                  <textarea class="form-control" rows="8" name="item_desc" id="inputAddress" placeholder="Item Description"></textarea>
              </div>
                <div class="col-md-12">
                    <label for="formFile" class="form-label" id="img_label">Item Image
                    <a href="#" style="margin-left:12px;font-size:25px;" id="show_ai_image">Use AI Image Generation</a></label>
                    <div style="display: flex;justify-content: center;">
                        <img src="{% static 'images/loading.svg' %}" style="width:50px;" id="img_loader">
                    </div>
                  <div id="div_img_query">
                    <input class="form-control" type="text" id="img_query" placeholder="Type Your Image Query">
                      <a style="margin-top:7px;" class="btn btn-primary" id="img_btn_query">Generate Image</a>
                  </div>
                    <input class="form-control" name="item_image" type="file" id="formFile">
                    <input class="form-control" name="item_image_url" type="text" id="formFileurl">
                </div>
                <div class="col-md-12">
                    <label for="formFile" class="form-label">Item Video(Optional)<a href="#" style="margin-left:12px;font-size:25px;" id="show_ai_video">Use AI Video Generation</a></label>
                    <input class="form-control" name="item_video" type="file" id="video">
                </div>
                <div class="col-md-12">
                <label for="buy_or_sell" class="form-label">Buy/Sell</label>
                <select id="buy_or_sell" name="buy_or_sell" class="form-select" required>
                  <option selected>Choose...</option>
                  <option value="yes">Buy</option>
                  <option value="no">Sell</option>
                </select>
              </div>
              <div class="col-md-12">
                <label for="inputState" class="form-label">Upload Items To Shop</label>
                <select id="inputState" name="upload" class="form-select" required>
                  <option selected>Choose...</option>
                  <option value="yes">Yes</option>
                  <option value="no">No</option>
                </select>
              </div>
                <div class="col-md-12">
                <label for="item_type" class="form-label">Select Item Type</label>
                <select id="item_type" name="item_type" class="form-select" required>
                  <option selected>Choose...</option>
                  <option value="PHYSICAL">Physical</option>
                  <option value="DIGITAL">Digital</option>
                  <option value="SERVICE">Service</option>
                </select>
              </div>
                <div class="col-md-12">
                    <div>
                    <label for="formFile" class="form-label">Price</label>
                    <input class="form-control" name="price" type="number" step="0.01">
                    </div>
                    <div>
                    <label for="formFile" class="form-label">Stock</label>
                    <input class="form-control" name="stock" type="number">
                    </div>
                </div>
                <div class="col-md-12">
                    <label for="formFile" class="form-label">Location</label>
                    <input class="form-control" name="location" type="text">
                </div>
                <div class="col-md-12">
                <label for="inputState" class="form-label">Select Bank</label>
                <select id="bank" name="bank" class="form-select" required>
                  <option selected>Choose...</option>
                  <option value="my_bank">User My Bank</option>
                    {% for bank in banks %}
                  <option value="{{bank.name}}">{{bank.name}}</option>
                    {% endfor %}
                </select>
              </div>
                <div class="col-md-12" id="private_key_div">
                    <label for="formFile" class="form-label">Stripe Private Key</label>
                    <input class="form-control" name="private_key" type="text" id="private_key">
                </div>
                <div class="col-md-12" id="public_key_div">
                    <label for="formFile" class="form-label">Stripe Public Key</label>
                    <input class="form-control" name="public_key" type="text" id="public_key">
                </div>
                <div class="col-md-12" id="webhook_key_div">
                    <label for="formFile" class="form-label">Stripe Webhook Key</label>
                    <input class="form-control" name="webhook_key" type="text" id="webhook_key">
                </div>

              <div class="col-md-12">
                <button type="submit" class="btn btn-primary">Upload Item To Community</button>
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color:#5B61EB !important;color:white;">X</button>
        </div>
      </div>

    </div>
  </div>

</div>

        <div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal3" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Restricted Keywords</h3>
        </div>
        <div class="modal-body">
            <div>
                {% for key in keywords %}
                <span class="badge text-bg-dark" style="padding: 6px 11px !important;">{{key.keyword}}</span>
                {% endfor %}
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color:#5B61EB !important;color:white;">X</button>
        </div>
      </div>

    </div>
  </div>

</div>
{% endblock %}