<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@200;400&family=DM+Sans:wght@400;500;700&family=Inconsolata:wght@400;700&family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;700;800&family=Montserrat:wght@200;500;600;700;800;900&family=Nunito:wght@400;500;600;700&family=Open+Sans&family=Poppins:wght@400;500;600&display=swap"
      rel="stylesheet">
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/stylesheet.css' %}" rel="stylesheet">
    <style>
      .p-3 p{
        color:white !important;
      }
      .goog-te-gadget-icon {
          display:none;
        }
        .skiptranslate iframe{
          display:none !important;
        }

        .goog-te-gadget-simple {
            background-color: #ecebf0 !important;
            border:0 !important;
            font-size: 10pt;
           font-weight:800;
            display: inline-block;
            padding:10px 10px !important;
            cursor: pointer;
            zoom: 1;
        }

        .goog-te-gadget-simple  span {
           color:#3e3065 !important;

        }
        body {
            top: 0px !important;
            }

    </style>
    <title>CHATGPTMALL | Home</title>
  </head>
  <body>
    <!------------------------------Header section---------------------------->
    <nav class="navbar navbar-expand-lg" style="padding: 20px;">
      <div class="container">
        <a class="navbar-brand" href="{% url 'HomepageView' %}">
          {% if show_logo %}
          <img style="height: 68px;position: relative;top: 21px;"
               src="https://www.zkteco.com/cn/uploads/image/20230228/5142aefc758659aafe58c2832e6d13f5.png">
          {% endif %}
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto mb-2 mb-lg-0">
            <li class="nav-item nav-item-active">
              <a class="nav-link active-link fw-bold" aria-current="page"
                href="{% url 'HomepageView' %}">Home</a>
            </li>

            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Marketing
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'IndustriesView' %}">Industries</a></li>
              <li><a class="dropdown-item" href="{% url 'JobsView' %}">Job Roles</a></li>
              <li><a class="dropdown-item" href="{% url 'CapabilitiesView' %}">Capabilities</a></li>
            </ul>
           </li>
          </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Our Services
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'VoiceToVoice' %}">Voice To Voice</a></li>
              <li><a class="dropdown-item" href="{% url 'VoiceToImage' %}">Voice To Image</a></li>
              <li><a class="dropdown-item" href="{% url 'TextToText' %}">Text To Text</a></li>
              <li><a class="dropdown-item" href="{% url 'TextToImage' %}">Text To Image</a></li>
            </ul>
           </li>
          </ul>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'our_plans' %}">Our Plans</a>
            </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Shop
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'ShopWithText' %}">Shop With Text</a></li>
              <li><a class="dropdown-item" href="">Shop With Voice</a></li>
            </ul>
           </li>
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             Communities
            </a>
            <ul class="dropdown-menu">
              {% if request.user.is_authenticated %}
              <li><a class="dropdown-item" href="{% url 'DownloadTeams' %}">Download Communities</a></li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'Communities' %}">All Communities</a></li>
              <li><a class="dropdown-item" href="{% url 'JoinedCommunities' %}">Joined Communities</a></li>
            </ul>
           </li>
          </ul>
          <div id="google_translate_element"></div>
          {% if request.user.is_authenticated %}
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             {{request.user.get_full_name}}
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'ProfileView' %}">Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'ApiKeyView' %}">API Key</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'Logout' %}">Logout</a></li>
            </ul>
           </li>
          </ul>
          {% else %}

          <div class="d-flex">
            <a href="{% url 'LoginView' %}" class="btn signin">Sign In</a>
            <a href="{% url 'RegisterView' %}" class="btn register-btn">Register now </a>
          </div>
          {% endif %}
        </div>
      </div>
    </nav>





    <!------------------------------Header section---------------------------->
          <div>
            <div class="feature-section">
              <div class="main-container">
                <div class="container-fluid py-5">
                  <div class="row p-3">
                    <div class="d-flex flex-wrap py-4">
                      <div class="col-md-6">
                        <div class="blog-card-container my-2 mx-2">
                          <div class="feature-section-img-container">
                            <img style="border-radius: 64px;" class="w-100" src="{% static 'images/iot.png' %}"
                              alt="choose teatcher.png">
                          </div>
                        </div>
                      </div>


                      <div class="col-md-6">
                        <div class="feature-content-container my-2 mx-2" style="margin-left: 70px !important;">
                          <div class="blog-card-img-container mt-5">
                            <p class="blog-title pt-4 pb-2">OUR FEATURE </p>

                            <h2 class="blog-headline">Generate your perfect Product’s image based on your voice chat</h2>
                          </div>
                          <div style="position: relative;">
                            <br>
                            <a href="{% url 'VoiceToImage' %}" class="btn become-teacher-button">Voice To Image
                              <i class="fa fa-microphone p-3 "></i></a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>

              </div>
            </div>
         </div>










<!--    <div>-->
<!--      <div class="tutorial-section">-->
<!--        <div class="main-container">-->
<!--          <div class="container py-5">-->
<!--            <div class="row">-->
<!--              <div class="d-flex flex-wrap py-4">-->

<!--                <div class="col-md-6">-->
<!--                  <div class="tutorial-content-container my-2 mx-2">-->
<!--                    <div class=" mt-5">-->
<!--                      <h2 class="tutorial-headline">Our R&D 's location</h2>-->
<!--                      <p class="tutorial-paragraph py-3">One9Five Asoke – Rama 9, Bangkok, Thailand</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-6">-->
<!--                  <div class="blog-card-container mt-5">-->
<!--                    <div class="feature-section-img-container">-->
<!--                      <img style="border-radius: 69px;" class="w-100" src="{% static 'images/location.jpeg' %}"-->
<!--                        alt="images/video.png">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->



<!--              </div>-->
<!--            </div>-->

<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


    <!------------------------------Start learning section---------------------------->
<!--    <div>-->
<!--      <div class="start-learning-section">-->
<!--        <div class="main-container py-5">-->
<!--          <div class="container py-5">-->
<!--            <div class="row py-5">-->
<!--              <h2 class="start-learning-section-headline text-center">Start your-->
<!--                Learning<br/>-->
<!--                  Journey Today!</h2>-->
<!--                <p class="start-learning-section-paragraph text-center pt-2-->
<!--                  pb-5">Lorem ipsum dolor-->
<!--                  sit amet, consectetur.</p>-->
<!--                <div class="col-md-3 g-3">-->
<!--                  <div class="card-container p-4">-->
<!--                    <div class="learning-section-card text-center">-->
<!--                      <div>-->
<!--                        <img src="{% static 'homepage/images/icon-1.png' %}" alt="icon-1.png">-->
<!--                      </div>-->
<!--                      <div class="pb-3">-->
<!--                        <h3 class="card-headline mt-5">Learn with Experts</h3>-->
<!--                        <p class="card-paragraph text-muted my-3">Grursus mal-->
<!--                          suada faci lisis that ipsum ameti consecte.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-3 g-3">-->
<!--                  <div class="card-container p-4">-->
<!--                    <div class="learning-section-card text-center">-->
<!--                      <div>-->
<!--                        <img src="{% static 'homepage/images/icon-2.png' %}" alt="icon-2.png">-->
<!--                      </div>-->
<!--                      <div class="pb-3">-->
<!--                        <h3 class="card-headline mt-5">Learn Anything</h3>-->
<!--                        <p class="card-paragraph text-muted my-3">Grursus mal-->
<!--                          suada faci lisis that ipsum ameti consecte.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->


<!--                <div class="col-md-3 g-3">-->
<!--                  <div class="card-container p-4">-->
<!--                    <div class="learning-section-card text-center">-->
<!--                      <div>-->
<!--                        <img src="{% static 'homepage/images/icon-3.png' %}" alt="icon-3.png">-->
<!--                      </div>-->
<!--                      <div class="pb-3">-->
<!--                        <h3 class="card-headline mt-5">Flexible Learning</h3>-->
<!--                        <p class="card-paragraph text-muted my-3">Grursus mal-->
<!--                          suada faci lisis that ipsum ameti consecte.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-3 g-3">-->
<!--                  <div class="card-container p-4">-->
<!--                    <div class="learning-section-card text-center">-->
<!--                      <div>-->
<!--                        <img src="{% static 'homepage/images/icon-4.png' %}" alt="icon-4.png">-->
<!--                      </div>-->
<!--                      <div class="pb-3">-->
<!--                        <h3 class="card-headline mt-5">Industrial Standard</h3>-->
<!--                        <p class="card-paragraph text-muted my-3">Grursus mal-->
<!--                          suada faci lisis that ipsum ameti consecte.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->




      <!--------------------------------Our Team------------------------------------->
<!--      <div>-->
<!--        <div class="team-section">-->
<!--          <div class="container">-->
<!--            <div class="row py-5">-->
<!--              <h2 class="team-headline py-5">Our Team</h2>-->
<!--              <div class="owl-carousel owl-theme py-5">-->
<!--                {% for member in  team_members %}-->
<!--                <div class="mx-2">-->
<!--                  <img style="height:250px;width: 85% !important;" src="media/{{member.profile}}" alt="team-1.png">-->
<!--                  <h5 class="py-3 teacher-name">{{member.name}}</h5>-->
<!--                  <p class="teacher-caption">{{member.designation}}</p>-->
<!--                </div>-->
<!--                {% endfor %}-->
<!--              </div>-->


<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->




      <!--------------------------------Testmonial section------------------------------------->
<!--      <div>-->
<!--        <div class="testmonial-section">-->
<!--          <div class="main-container">-->
<!--            <div class="container py-5">-->
<!--              <div class="row p-3">-->
<!--                <div class="container-content text-center mt-3">-->
<!--                  <h2 class="testmonial-section-headline">Testimonials</h2>-->
<!--                  <h2 class="testmonial-section-subheadline py-2">Some-->
<!--                    testimonials-->
<!--                    from our customers</h2>-->
<!--                </div>-->
<!--                <div class="d-flex flex-wrap my-5">-->
<!--                  {% for testmonial in testmonials %}-->
<!--                  <div class="col-md-4 mt-5 pt-4">-->
<!--                    <div class="testmonial-card-container py-3 mx-3">-->
<!--                      <div class="text-center card-img-container">-->
<!--                        <img src="media/{{testmonial.profile}}"-->
<!--                          alt="testmonial-1.png" style="width: 100px;border-radius: 50px;height: 100px;">-->
<!--                        <div class="mt-4">-->
<!--                          <h4 class="testmonial-card-title">{{testmonial.name}}</h4>-->
<!--                          <h5 class="testmonial-card-subtitle">{{testmonial.company}}</h5>-->
<!--                        </div>-->

<!--                      </div>-->
<!--                      <div class="testmonial-card text-center mx-4">-->
<!--                        <div>-->
<!--                          <p class="testmonial-card-paragraph" style="color:black !important;">{{testmonial.feedback}}</p>-->
<!--                          <div class="d-flex justify-content-center pb-5">-->
<!--                            {% with ''|center:testmonial.stars as range %}-->
<!--                            {% for _ in range %}-->
<!--                                <i class="fa-solid fa-star star-icon mx-1"></i>-->
<!--                            {% endfor %}-->
<!--                            {% endwith %}-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  {% endfor%}-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->




      <!--------------------------------Blog section------------------------------------->
<!--      <div>-->
<!--        <div class="blog-section">-->
<!--          <div class="main-container">-->
<!--            <div class="container py-5">-->
<!--              <div class="row p-3">-->
<!--                <div class="container-content text-center mt-3">-->
<!--                  <h2 class="blog-section-headline">Our Blog</h2>-->
<!--                </div>-->
<!--                <div class="d-flex flex-wrap py-4">-->
<!--                  {% for blog in blogs %}-->
<!--                  <div class="col-md-4">-->
<!--                    <div class="blog-card-container my-2 mx-2">-->
<!--                      <div class="blog-card-img-container">-->
<!--                        <img class="w-100" src="media/{{blog.thumbnail}}"-->
<!--                          alt="blog.png">-->
<!--                      </div>-->
<!--                      <div class="blog-card">-->
<!--                        <div class="blog-card-title-container mx-3 mt-4">-->
<!--                          <p class="blog-cad-title py-2">{{blog.title}}</p>-->
<!--                        </div>-->
<!--                        <p class="blog-card-paragraph">{{blog.description|safe|truncatechars:60}}</p>-->
<!--                        <a class="blog-card-button" href="#">Read more</a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  {% endfor %}-->
<!--                  <button class="btn view-button mt-5 px-5">View All </button>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->




      <!--------------------------------Footer section------------------------------------->
<!--      <footer class="footer-section py-4">-->
<!--        <div class="container">-->
<!--          <div class="row pt-5">-->
<!--            <div class="col-md-5 py-2">-->
<!--              <div>-->
<!--                <div>-->
<!--                  <img src="{% static 'homepage/images/logo.png' %}">-->
<!--                  <p class="copyrights-paragraph">-->
<!--                    Copyright © ENGenglish All rights reserved. The material on-->
<!--                    this site cannot be reproducted or redistributed unless you-->
<!--                    have obtained prior wirtten permission from ENGenglish.-->
<!--                    ENGenglish are registered trademarks of ENGenglish a part of-->
<!--                    Cergage Learning.-->
<!--                  </p>-->
<!--                </div>-->
<!--                <div class="contacts-container pt-5">-->
<!--                  <h5 class="footer-headlines pt-5">Contact Us</h5>-->
<!--                  <div class="contacts-container">-->
<!--                    <div class="d-flex py-3">-->
<!--                      <div class="contact-background mx-2 "><i class="fa-solid-->
<!--                          fa-envelope py-3 px-3 contact-icon"></i></div>-->
<!--                      <div class="contact-background mx-2"><i class="fa-solid-->
<!--                          fa-phone py-3 px-3 contact-icon"></i></div>-->
<!--                      <div class="contact-background mx-2"><i class="fa-brands-->
<!--                          fa-rocketchat py-3 px-3 contact-icon"></i></div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-md-7">-->
<!--              <div class="d-flex">-->
<!--                <div class="col-md-4 py-3">-->
<!--                  <h5 class="footer-headlines">Course Categories</h5>-->
<!--                  {% for category in categories %}-->
<!--                  <div class="py-2"><a class="footer-links" href="#">{{category.category_name}}</a></div>-->
<!--                  {% endfor %}-->
<!--                </div>-->



<!--                <div class="col-md-4 py-3">-->
<!--                  <h5 class="footer-headlines">Resources</h5>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">About-->
<!--                      ENGenglish</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Find A-->
<!--                      School</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Help</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Careers</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Partner-->
<!--                      With Us</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Blog</a></div>-->
<!--                </div>-->


<!--                <div class="col-md-4 py-3">-->
<!--                  <h5 class="footer-headlines">Taking ENGenglish Courses</h5>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Financial-->
<!--                      Assistance</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Externship-->
<!--                      Programs</a></div>-->
<!--                  <a class="footer-links" href="#">MyCAA</a>-->

<!--                </div>-->
<!--              </div>-->


<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--        <hr/>-->
<!--          <div class="py-4">-->
<!--            <div class="container">-->
<!--              <div class="row">-->
<!--                <div>-->
<!--                  <div class="d-flex justify-content-between">-->
<!--                    <div><p class="copyrights-paragrah">Copyright ® 2021 Lorem-->
<!--                        All rights Rcerved</p></div>-->
<!--                    <div class="social-links-container">-->
<!--                      <div class="d-flex">-->
<!--                        <div class="links-background mx-1 "><i class="fa-brands-->
<!--                            fa-facebook-f p-3 social-icon"></i></div>-->
<!--                        <div class="links-background mx-1"><i class="fa-brands-->
<!--                            fa-instagram p-3 social-icon"></i></div>-->
<!--                        <div class="links-background mx-1"><i class="fa-brands-->
<!--                            fa-twitter p-3 social-icon"></i></div>-->
<!--                        <div class="links-background mx-1"><i class="fa-brands-->
<!--                            fa-linkedin-in p-3 social-icon"></i></div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </footer>-->


        <!--------------------------------loading section------------------------------------->
        <div id="loading">
          <i class="fa fa-spinner fa-spin fa-3x text-white"></i>
        </div>




        <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
        <script src="{% static 'js/jquery-3.6.1.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
        <script type="text/javascript" src="https://translate.google.cn/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
        <script type="text/javascript">
         var googleTranslateElement;
         function setCookie(key, value, expiry) {
            var expires = new Date();
            expires.setTime(expires.getTime() + (expiry * 24 * 60 * 60 * 1000));
            document.cookie = key + '=' + value + ';expires=' + expires.toUTCString();
          }
         function googleTranslateElementInit() {
                  setCookie('googtrans', '/en/zh-CN',1);
                  if (googleTranslateElement) return;
                  googleTranslateElement = new google.translate.TranslateElement({
                    pageLanguage: 'en',
                    includedLanguages: "ar,en,es,jv,ko,pa,pt,ru,zh-CN",
                    layout: google.translate.TranslateElement.InlineLayout.SIMPLE
                  },
                  'google_translate_element');
            }
      </script>

      </body>
    </html>