<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHATGPTMALL | Image Analysis</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="{% static 'chat/js/multiselect.min.js' %}"></script>
    <style>
        #back{
            background: #2844FA;
            color: white;
            font-size: 15px;
            border-radius: 13px;
            margin: 10px;
        }
        #card-images{
            height: 360px;
            width: 360px;
        }
        .download_images{
            cursor: pointer;
            position: absolute;
            right: 23px;
            top: 10px;
            color: black;
            background-color: white !important;
            padding: 5px 5px;
            font-weight: 500;
            font-size: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" id="back" href="{% url 'HomepageView' %}">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
  </a>
</nav>
    <div class="container">
        <div class="row">
            <form id="upload-file" enctype="multipart/form-data">
                {% csrf_token %}
              <div class="mb-3">
                <label for="image" class="form-label">Choose Image</label>
                <input type="file" class="form-control" id="image" name="image">
              </div>
                <br><br>

              <button type="submit" id="btn_analysis" class="btn btn-primary">Generate Image Analysis</button>
              <a id="captureBtn" class="btn btn-primary">Capture Photo</a>
              <a id="open_camera" class="btn btn-primary">Open Camera</a>
              <a id="close_camera" class="btn btn-primary">Close Camera</a>
                <div>
                <br>
                <video id="video" width="400" height="300" autoplay></video>
                </div>
            </form>
        </div>
    </div>
    <br><br>
    <div class="container">
            <img id="loading" style="position: absolute;top: 0;left: -13px;width: 100%;background: white;height: 100vh;display: flex;justify-content: center;" src="{% static 'images/loading.svg' %}">
        </div>
    <div class="container">
        <div class="row" id="images_row" style="display:flex;">
            <div class="col-md-6">
            <p class="show_json col-md-6">Image Analysis</p>
            <textarea name="" class="form-control col-md-6" id="myTextarea" rows="15"></textarea>
            </div>
            <div class="col-md-6">
            <p class="show_json">OCR JSON</p>
            <textarea name="" class="form-control" id="myTextareaOCR" rows="15"></textarea>
            </div>
        </div>
    </div>

    <div class="container" id="input_div">
        <div class="row">
            <div class="col-md-12" style="margin-top:35px;">
                <textarea name="" class="form-control col-md-6" id="input_text_area" rows="9"></textarea><br><br>
                <button style="margin-top:23px;margin-bottom:50px;" id="input_btn" class="btn btn-primary">Generate Content</button>
            </div>

            <br><br><br>
            <div class="col-md-12" style="margin: 64px 0px;">
                <div id="audio" style="display:flex;">
                    <div>
                        <button id="speak">Speak</button>
                        <button id="stop">Stop</button>
                        <button id="resume">Resume</button>
                    </div>
                </div>
                <h3 id="result"></h3>
            </div><br><br>
        </div>
    </div>


<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Select Teams</h3>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'SendPostCommunity' %}">
            {% csrf_token %}
              <input type="hidden" id="page" name="page" value="text_to_image">
              <input type="hidden" id="input" name="input">
              <input type="hidden" id="response" name="images">
          <div class="form-group">
            <select name="multiple_communities" class="form-select form-control" id='testSelect1' multiple>
                  {% for comm in communities %}
                    <option value='{{comm.id}}'>{{comm.name}}</option>
                  {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary" style="background-color:#5B61EB !important;color:white;">Send Post</button>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color:#5B61EB !important;color:white;">X</button>
        </div>
      </div>

    </div>
  </div>

</div>
<script src="{% static 'chat/js/jquery-1.12.3.js' %}"></script>
<script src="https://cdn.WebRTC-Experiment.com/MediaStreamRecorder.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="{% static 'chat/js/bootstrap.min.js' %}"></script>
<script src="{% static 'chat/js/img_analysis.js' %}"></script>
<script>
	document.multiselect('#testSelect1')
		.setCheckBoxClick("checkboxAll", function(target, args) {
			console.log("Checkbox 'Select All' was clicked and got value ", args.checked);
		})
		.setCheckBoxClick("1", function(target, args) {
			console.log("Checkbox for item with value '1' was clicked and got value ", args.checked);
		});

	function enable() {
		document.multiselect('#testSelect1').setIsEnabled(true);
	}

	function disable() {
		document.multiselect('#testSelect1').setIsEnabled(false);
	}
</script>
</body>
</html>

