{% extends 'parent.html' %}
{% block tittle %}Chatgptmall | Joined Communities{% endblock %}
{% load static %}
{% block body %}

    <div>
      <div class="start-learning-section">
        <div class="main-container py-5">
          <div class="container py-5">
            <div class="row py-5">
              <h2 class="start-learning-section-headline text-center">Joined Teams</h2>

              {% for community in communities %}
              <div class="col-md-3 g-3">
                  <div class="card-container p-4">
                    <div class="learning-section-card text-center">
                      <div>
                        {% if community.logo %}
                        <img style="width:-webkit-fill-available;height:190px;"
                             src="{{community.logo.url}}" alt="icon-1.png">
                        {% else %}
                        <img style="width:-webkit-fill-available;height:190px;"
                             src="https://images.unsplash.com/photo-1587377838789-968194a7cc88?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=930&q=80" alt="icon-1.png">
                        {% endif %}
                      </div>
                      <div>
                        <h3 class="card-headline mt-5" style="font-size:13px;word-wrap: break-word;">{{community.name}}</h3>
                        <p>Total Members: {{community.get_members}}</p>
                          <form method="post" action="{% url 'JoinCommunity' %}">
                            {% csrf_token %}
                            <input type="hidden" name="team_id" value="{{community.community_id}}">
                            <input type="hidden" name="show_welcome_ms">
                            <button type="submit" class="btn btn-lg my-3 mb-2"
                                    style="background-color:#5B61EB !important;color:white;">Go</button>
                          </form>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock %}