<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block tittle %}{% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

<!--  &lt;!&ndash; Favicons &ndash;&gt;-->
<!--  <link href="{% static 'shop/img/favicon.png' %}" rel="icon">-->
<!--  <link href="{% static 'shop/img/apple-touch-icon.png' %}" rel="apple-touch-icon">-->

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'shop/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'shop/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'shop/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'shop/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'shop/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'shop/vendor/aos/aos.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'shop/css/main.css' %}" rel="stylesheet">
  <style>
    .p-3 p{
        color:white !important;
      }
      .hid{
        display:none;
      }
      .pagination a{
        font-size: 16px;
        padding: 0px 4px;
      }
      .cont {
  border: 2px solid #5B61EB;
  background-color: #efecec42;
  border-radius: 5px;
  padding: 10px;
  margin-top: 12px;
}

.darker {
  border-color: #5B61EB;
  background-color: #efecec42;
}

.cont::after {
  content: "";
  clear: both;
  display: table;
}

.cont .prof {
  float: left;
  max-width: 60px;
  margin-right: 20px;
  border-radius: 50%;
}

.cont img.right {
  float: right;
  margin-left: 20px;
  margin-right:0;
}

.time-right {
  float: right;
  color: #aaa;
}

.time-left {
  float: left;
  color: #999;
}
  </style>

</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'HomepageView' %}" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="{% static 'images/log.png' %}" alt="">
<!--        <h1>Progrow</h1>-->
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="{% url 'HomepageView' %}" class="active">Why Chatgptmall</a></li>
<!--          <li><a href="{% url 'our_plans' %}">Plans</a></li>-->
<!--          <li class="dropdown"><a href="#"><span>Marketing</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="{% url 'IndustriesView' %}">Industries</a></li>-->
<!--              <li><a href="{% url 'JobsView' %}">Job Roles</a></li>-->
<!--              <li><a href="{% url 'CapabilitiesView' %}">Capabilities</a></li>-->
<!--            </ul>-->
<!--          </li>-->
<!--          <li class="dropdown"><a href="#"><span>Shop</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="{% url 'ShopWithText' %}">Text Based Shop</a></li>-->
<!--              <li><a href="">Voice Based Shop</a></li>-->
<!--            </ul>-->
<!--          </li>-->
            <li class="dropdown"><a href="#"><span>购买能力Buy ChatGPT Alility</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li><a  href="{% url 'VoiceToVoiceDetail' %}">音频产音频audioGaudio</a></li>
              <li><a  href="{% url 'VoiceToImageDetail' %}">音频产图像AudioGimage</a></li>
              <li><a href="{% url 'TextToVoiceDetail' %}">文本产音频TextGaudio </a></li>
              <li><a href="{% url 'TextToTextDetail' %}">文本产文本TextGText</a></li>
              <li><a href="{% url 'TextToImageDetail' %}">文本产图片TextGImage</a></li>
              <li><a href="{% url 'ImageToImageDetail' %}">图像产图像ImageGimag</a></li>
              <li><a href="{% url 'ImageAnalysisDetail' %}">图像分析Imageanaly</a></li>
              <li><a href="{% url 'ImageDetectDetail' %}">图像理解ImageUnderst </a></li>
              <li><a href="{% url 'VoiceToCommandDetail' %}">音频产指令AudioGcomd</a></li>
              <li><a href="{% url 'TextToCommandDetail' %}">文本产指令TextGComd</a></li>
              <li><a href="{% url 'ImageToTextDetail' %}">Image To Text(OCR)</a></li>
              <li><a href="{% url 'RetailBotsView' %}">Sales Bot</a></li>
            </ul>
          </li>
          <li class="dropdown"><a href="#"><span>加入虚拟工厂JoinVirtual factory</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              {% if request.user.is_authenticated %}
              <li><a href="{% url 'DownloadTeams' %}">下载工厂Download factory list</a></li>
              <li><a href="{% url 'CreateTeams' %}">创建自己的工厂Create Own Factory</a></li>
              {% endif %}
              <li><a href="{% url 'Communities' %}">搜索新工厂Search New  Factory</a></li>
              <li><a href="{% url 'JoinedCommunities' %}">我参与的工厂Joined Factory</a></li>
            </ul>
          </li>
          {% if request.user.premium == 2 %}
                <li class="dropdown">
                  <a href="#">Key Management <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                  <ul>
                    <li><a href="{% url 'KeyManagement' %}">Openai</a></li>
                    <li><a href="{% url 'MicrosoftKeyManagementView' %}">Microsoft</a></li>
                  </ul>
                </li>
                {% endif %}

          {% if request.user.is_authenticated %}
            <li class="dropdown">
              <a href="#">
                <span>{{request.user.get_full_name}}</span>
                <img src="{% static 'images/user.png' %}" style="width: 28px;height: 26px;margin-left: 8px;">
                <i class="bi bi-chevron-down dropdown-indicator"></i>
              </a>
              <ul>

                <li><a href="#">AI硬件市场 HardwareMarkeplace</a></li>
                <li><a href="#">订阅及接口Subscription and API</a></li>
                <li><a href="#">集成硬件Integration Hardware</a></li>
                <li><a href="#">软件及工具Software and Tools</a></li>
                <li><a href="{% url 'ShopWithText' %}">Shop</a></li>
                <li><a href="{% url 'ProfileView' %}">Profile</a></li>
                <li><a href="{% url 'ApiKeyView' %}">API Key</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="{% url 'Logout' %}">Logout</a></li>
              </ul>
            </li>
<!--          <li><a class="get-a-quote" href="{% url 'Logout' %}">Logout</a></li>-->
          {% else %}
            <li class="dropdown"><a href="#"><span>更多</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul style="margin-left: -171px !important; color:white;">
                <li style="padding: 0px 17px;"><a href="#">AI硬件市场 HardwareMarkeplace</a></li>
                <li style="padding: 0px 17px;"><a href="#">订阅及接口Subscription and API</a></li>
                <li style="padding: 0px 17px;"><a href="#">集成硬件Integration Hardware</a></li>
                <li style="padding: 0px 17px;"><a href="#">软件及工具Software and Tools</a></li>
                <li style="padding: 0px 17px;"><a style="color:white; !important" class="get-a-quote" href="{% url 'LoginView' %}">登录Signin</a></li>
            </ul>
          </li>
          {% endif %}
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->

  {% block body %} {% endblock %}

  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static 'chat/js/jquery-1.12.3.js' %}"></script>
  <script src="{% static 'shop/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'shop/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'shop/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'shop/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'shop/vendor/aos/aos.js' %}"></script>
  <script src="https://cdn.tiny.cloud/1/your-api-key/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>;

  <!-- Template Main JS File -->
  <script src="{% static 'shop/js/main.js' %}"></script>
        <script>
          $("#show_coupon").hide();
        </script>

<script>
   tinymce.init({
   selector: '#editor',
   plugins: 'powerpaste casechange searchreplace autolink directionality advcode visualblocks visualchars image link media mediaembed codesample table charmap pagebreak nonbreaking anchor tableofcontents insertdatetime advlist lists checklist wordcount tinymcespellchecker editimage help formatpainter permanentpen charmap linkchecker emoticons advtable export autosave',
   toolbar: 'undo redo print spellcheckdialog formatpainter | blocks fontfamily fontsize | bold italic underline forecolor backcolor | link image | alignleft aligncenter alignright alignjustify lineheight | checklist bullist numlist indent outdent | removeformat',
   height: '700px'
       });
</script>

</body>

</html>