{% extends 'parent.html' %}
{% block tittle %}Chatgptmall | Profile{% endblock %}
{% load static %}
{% block body %}

  <div class="main-content">
    <!-- Top navbar -->
    <!-- Header -->
    <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://images.unsplash.com/photo-1485827404703-89b55fcc595e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8cm9ib3RzfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60); background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
    </div>
    <!-- Page content -->
    <div class="container-fluid mt--7">
      <div class="row">
        <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
          <div class="card card-profile shadow">
<!--            <div class="row justify-content-center">-->
<!--              <div class="col-lg-3 order-lg-2">-->
<!--                <div class="card-profile-image">-->
<!--                  <a href="#">-->
<!--                    <img src="https://demos.creative-tim.com/argon-dashboard/assets-old/img/theme/team-4.jpg" class="rounded-circle">-->
<!--                  </a>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
            <div class="card-body pt-0 pt-md-4">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center mt-md-5">
                    <div><h2 class="text-center">Plan Details</h2></div>
                  </div>
                </div>
              </div>
              <div class="text-center">
                {% for plan in plans %}
                <h3>Plan Name: <b>{{plan.title}}</b></h3>
                <h3>Request Send: <b>{{plan.requests}}</b></h3>
                <h3>Request Left: <b>{{plan.requests_left}}</b></h3>
                <hr class="my-4">
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-8 order-xl-1">
          <div class="card bg-secondary shadow">
            <div class="card-header bg-white border-0">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">My account</h3>
                </div>
              </div>
            </div>
            <div class="card-body">
              <form method="post" action="{% url 'ProfileUpdate' %}">
                {% csrf_token %}
                <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-first-name">First name</label>
                        <input type="text" id="input-first-name" name="first_name" class="form-control form-control-alternative" placeholder="First name" value="{{request.user.first_name}}">
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-last-name">Last name</label>
                        <input type="text" id="input-last-name" name="last_name" class="form-control form-control-alternative" placeholder="Last name" value="{{request.user.last_name}}">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-address">Address</label>
                        <input id="input-address" name="address" class="form-control form-control-alternative"
                               placeholder="Bld Mihail Kogalniceanu, nr. 8 Bl 1, Sc 1, Ap 09" value="{{request.user.address}}" type="text">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-city">City</label>
                        <input type="text" id="input-city" name="city" class="form-control form-control-alternative" placeholder="City" value="{{request.user.city}}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group focused">
                        <label class="form-control-label" for="input-country">Country</label>
                        <input type="text" id="input-country" name="country" class="form-control form-control-alternative" placeholder="Country" value="{{request.user.country}}">
                      </div>
                    </div>
                    <div class="col-lg-4">
                      <div class="form-group">
                        <label class="form-control-label" for="input-country">Postal code</label>
                        <input type="number" id="input-postal-code" name="postal_code" value="{{request.user.postal_code}}" class="form-control form-control-alternative" placeholder="Postal code">
                      </div>
                    </div>
                  </div>
                </div>
                <hr class="my-4">

                <div class="col-md-4">
                  <button type="submit" class="btn btn-sm btn-primary">Update</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>











<!--    <div>-->
<!--      <div class="tutorial-section">-->
<!--        <div class="main-container">-->
<!--          <div class="container py-5">-->
<!--            <div class="row">-->
<!--              <div class="d-flex flex-wrap py-4">-->

<!--                <div class="col-md-6">-->
<!--                  <div class="tutorial-content-container my-2 mx-2">-->
<!--                    <div class=" mt-5">-->
<!--                      <h2 class="tutorial-headline">Our R&D 's location</h2>-->
<!--                      <p class="tutorial-paragraph py-3">One9Five Asoke – Rama 9, Bangkok, Thailand</p>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-6">-->
<!--                  <div class="blog-card-container mt-5">-->
<!--                    <div class="feature-section-img-container">-->
<!--                      <img style="border-radius: 69px;" class="w-100" src="{% static 'images/location.jpeg' %}"-->
<!--                        alt="images/video.png">-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->



<!--              </div>-->
<!--            </div>-->

<!--          </div>-->

<!--        </div>-->
<!--      </div>-->
<!--    </div>-->


    <!------------------------------Start learning section---------------------------->
<!--    <div>-->
<!--      <div class="start-learning-section">-->
<!--        <div class="main-container py-5">-->
<!--          <div class="container py-5">-->
<!--            <div class="row py-5">-->
<!--              <h2 class="start-learning-section-headline text-center">Start your-->
<!--                Learning<br/>-->
<!--                  Journey Today!</h2>-->
<!--                <p class="start-learning-section-paragraph text-center pt-2-->
<!--                  pb-5">Lorem ipsum dolor-->
<!--                  sit amet, consectetur.</p>-->
<!--                <div class="col-md-3 g-3">-->
<!--                  <div class="card-container p-4">-->
<!--                    <div class="learning-section-card text-center">-->
<!--                      <div>-->
<!--                        <img src="{% static 'homepage/images/icon-1.png' %}" alt="icon-1.png">-->
<!--                      </div>-->
<!--                      <div class="pb-3">-->
<!--                        <h3 class="card-headline mt-5">Learn with Experts</h3>-->
<!--                        <p class="card-paragraph text-muted my-3">Grursus mal-->
<!--                          suada faci lisis that ipsum ameti consecte.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-3 g-3">-->
<!--                  <div class="card-container p-4">-->
<!--                    <div class="learning-section-card text-center">-->
<!--                      <div>-->
<!--                        <img src="{% static 'homepage/images/icon-2.png' %}" alt="icon-2.png">-->
<!--                      </div>-->
<!--                      <div class="pb-3">-->
<!--                        <h3 class="card-headline mt-5">Learn Anything</h3>-->
<!--                        <p class="card-paragraph text-muted my-3">Grursus mal-->
<!--                          suada faci lisis that ipsum ameti consecte.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->


<!--                <div class="col-md-3 g-3">-->
<!--                  <div class="card-container p-4">-->
<!--                    <div class="learning-section-card text-center">-->
<!--                      <div>-->
<!--                        <img src="{% static 'homepage/images/icon-3.png' %}" alt="icon-3.png">-->
<!--                      </div>-->
<!--                      <div class="pb-3">-->
<!--                        <h3 class="card-headline mt-5">Flexible Learning</h3>-->
<!--                        <p class="card-paragraph text-muted my-3">Grursus mal-->
<!--                          suada faci lisis that ipsum ameti consecte.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--                <div class="col-md-3 g-3">-->
<!--                  <div class="card-container p-4">-->
<!--                    <div class="learning-section-card text-center">-->
<!--                      <div>-->
<!--                        <img src="{% static 'homepage/images/icon-4.png' %}" alt="icon-4.png">-->
<!--                      </div>-->
<!--                      <div class="pb-3">-->
<!--                        <h3 class="card-headline mt-5">Industrial Standard</h3>-->
<!--                        <p class="card-paragraph text-muted my-3">Grursus mal-->
<!--                          suada faci lisis that ipsum ameti consecte.</p>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->




      <!--------------------------------Our Team------------------------------------->
<!--      <div>-->
<!--        <div class="team-section">-->
<!--          <div class="container">-->
<!--            <div class="row py-5">-->
<!--              <h2 class="team-headline py-5">Our Team</h2>-->
<!--              <div class="owl-carousel owl-theme py-5">-->
<!--                {% for member in  team_members %}-->
<!--                <div class="mx-2">-->
<!--                  <img style="height:250px;width: 85% !important;" src="media/{{member.profile}}" alt="team-1.png">-->
<!--                  <h5 class="py-3 teacher-name">{{member.name}}</h5>-->
<!--                  <p class="teacher-caption">{{member.designation}}</p>-->
<!--                </div>-->
<!--                {% endfor %}-->
<!--              </div>-->


<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->




      <!--------------------------------Testmonial section------------------------------------->
<!--      <div>-->
<!--        <div class="testmonial-section">-->
<!--          <div class="main-container">-->
<!--            <div class="container py-5">-->
<!--              <div class="row p-3">-->
<!--                <div class="container-content text-center mt-3">-->
<!--                  <h2 class="testmonial-section-headline">Testimonials</h2>-->
<!--                  <h2 class="testmonial-section-subheadline py-2">Some-->
<!--                    testimonials-->
<!--                    from our customers</h2>-->
<!--                </div>-->
<!--                <div class="d-flex flex-wrap my-5">-->
<!--                  {% for testmonial in testmonials %}-->
<!--                  <div class="col-md-4 mt-5 pt-4">-->
<!--                    <div class="testmonial-card-container py-3 mx-3">-->
<!--                      <div class="text-center card-img-container">-->
<!--                        <img src="media/{{testmonial.profile}}"-->
<!--                          alt="testmonial-1.png" style="width: 100px;border-radius: 50px;height: 100px;">-->
<!--                        <div class="mt-4">-->
<!--                          <h4 class="testmonial-card-title">{{testmonial.name}}</h4>-->
<!--                          <h5 class="testmonial-card-subtitle">{{testmonial.company}}</h5>-->
<!--                        </div>-->

<!--                      </div>-->
<!--                      <div class="testmonial-card text-center mx-4">-->
<!--                        <div>-->
<!--                          <p class="testmonial-card-paragraph" style="color:black !important;">{{testmonial.feedback}}</p>-->
<!--                          <div class="d-flex justify-content-center pb-5">-->
<!--                            {% with ''|center:testmonial.stars as range %}-->
<!--                            {% for _ in range %}-->
<!--                                <i class="fa-solid fa-star star-icon mx-1"></i>-->
<!--                            {% endfor %}-->
<!--                            {% endwith %}-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  {% endfor%}-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->




      <!--------------------------------Blog section------------------------------------->
<!--      <div>-->
<!--        <div class="blog-section">-->
<!--          <div class="main-container">-->
<!--            <div class="container py-5">-->
<!--              <div class="row p-3">-->
<!--                <div class="container-content text-center mt-3">-->
<!--                  <h2 class="blog-section-headline">Our Blog</h2>-->
<!--                </div>-->
<!--                <div class="d-flex flex-wrap py-4">-->
<!--                  {% for blog in blogs %}-->
<!--                  <div class="col-md-4">-->
<!--                    <div class="blog-card-container my-2 mx-2">-->
<!--                      <div class="blog-card-img-container">-->
<!--                        <img class="w-100" src="media/{{blog.thumbnail}}"-->
<!--                          alt="blog.png">-->
<!--                      </div>-->
<!--                      <div class="blog-card">-->
<!--                        <div class="blog-card-title-container mx-3 mt-4">-->
<!--                          <p class="blog-cad-title py-2">{{blog.title}}</p>-->
<!--                        </div>-->
<!--                        <p class="blog-card-paragraph">{{blog.description|safe|truncatechars:60}}</p>-->
<!--                        <a class="blog-card-button" href="#">Read more</a>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  {% endfor %}-->
<!--                  <button class="btn view-button mt-5 px-5">View All </button>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->




      <!--------------------------------Footer section------------------------------------->
<!--      <footer class="footer-section py-4">-->
<!--        <div class="container">-->
<!--          <div class="row pt-5">-->
<!--            <div class="col-md-5 py-2">-->
<!--              <div>-->
<!--                <div>-->
<!--                  <img src="{% static 'homepage/images/logo.png' %}">-->
<!--                  <p class="copyrights-paragraph">-->
<!--                    Copyright © ENGenglish All rights reserved. The material on-->
<!--                    this site cannot be reproducted or redistributed unless you-->
<!--                    have obtained prior wirtten permission from ENGenglish.-->
<!--                    ENGenglish are registered trademarks of ENGenglish a part of-->
<!--                    Cergage Learning.-->
<!--                  </p>-->
<!--                </div>-->
<!--                <div class="contacts-container pt-5">-->
<!--                  <h5 class="footer-headlines pt-5">Contact Us</h5>-->
<!--                  <div class="contacts-container">-->
<!--                    <div class="d-flex py-3">-->
<!--                      <div class="contact-background mx-2 "><i class="fa-solid-->
<!--                          fa-envelope py-3 px-3 contact-icon"></i></div>-->
<!--                      <div class="contact-background mx-2"><i class="fa-solid-->
<!--                          fa-phone py-3 px-3 contact-icon"></i></div>-->
<!--                      <div class="contact-background mx-2"><i class="fa-brands-->
<!--                          fa-rocketchat py-3 px-3 contact-icon"></i></div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->

<!--            <div class="col-md-7">-->
<!--              <div class="d-flex">-->
<!--                <div class="col-md-4 py-3">-->
<!--                  <h5 class="footer-headlines">Course Categories</h5>-->
<!--                  {% for category in categories %}-->
<!--                  <div class="py-2"><a class="footer-links" href="#">{{category.category_name}}</a></div>-->
<!--                  {% endfor %}-->
<!--                </div>-->



<!--                <div class="col-md-4 py-3">-->
<!--                  <h5 class="footer-headlines">Resources</h5>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">About-->
<!--                      ENGenglish</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Find A-->
<!--                      School</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Help</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Careers</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Partner-->
<!--                      With Us</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Blog</a></div>-->
<!--                </div>-->


<!--                <div class="col-md-4 py-3">-->
<!--                  <h5 class="footer-headlines">Taking ENGenglish Courses</h5>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Financial-->
<!--                      Assistance</a></div>-->
<!--                  <div class="py-2"><a class="footer-links" href="#">Externship-->
<!--                      Programs</a></div>-->
<!--                  <a class="footer-links" href="#">MyCAA</a>-->

<!--                </div>-->
<!--              </div>-->


<!--            </div>-->

<!--          </div>-->
<!--        </div>-->
<!--        <hr/>-->
<!--          <div class="py-4">-->
<!--            <div class="container">-->
<!--              <div class="row">-->
<!--                <div>-->
<!--                  <div class="d-flex justify-content-between">-->
<!--                    <div><p class="copyrights-paragrah">Copyright ® 2021 Lorem-->
<!--                        All rights Rcerved</p></div>-->
<!--                    <div class="social-links-container">-->
<!--                      <div class="d-flex">-->
<!--                        <div class="links-background mx-1 "><i class="fa-brands-->
<!--                            fa-facebook-f p-3 social-icon"></i></div>-->
<!--                        <div class="links-background mx-1"><i class="fa-brands-->
<!--                            fa-instagram p-3 social-icon"></i></div>-->
<!--                        <div class="links-background mx-1"><i class="fa-brands-->
<!--                            fa-twitter p-3 social-icon"></i></div>-->
<!--                        <div class="links-background mx-1"><i class="fa-brands-->
<!--                            fa-linkedin-in p-3 social-icon"></i></div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->

<!--              </div>-->

<!--            </div>-->
<!--          </div>-->
<!--        </footer>-->
{% endblock %}