{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <form>
          <div class="mb-3">
            <label for="text_to_text_input" class="form-label">Enter Your Text</label>
              <textarea class="form-control" id="text_to_text_input" aria-describedby="Your Text"></textarea>
          </div>
            <br>
          <a type="submit" id="text_to_text_btn" class="btn btn-primary">Get Response</a>
        </form>
    </div>
</div>
<br><br>
<div class="container">
    <div class="row">
        <p id="text_to_text_show"></p>
    </div>
</div>
{% endblock content %}

