<!DOCTYPE html>
{% load static %}
{% load i18n %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CHATGPTMALL | TextToText</title>
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'chat/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker3.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    <script src="{% static 'chat/js/multiselect.min.js' %}"></script>
    <style>
        #back{
            background: #2844FA;
            color: white;
            font-size: 15px;
            border-radius: 13px;
            margin: 10px;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" id="back" href="{% url 'HomepageView' %}">
    <i class="fa fa-arrow-left" aria-hidden="true"></i> Back
  </a>
</nav>
{% if request.user.is_authenticated %}
    {% if request.user.access == "TEXT_TO_TEXT" %}
    <div class="container">
        <div class="row">
            <form>
              <div class="mb-3">
                <label for="text_to_text_input" class="form-label">Enter Your Text</label>
                  <textarea class="form-control" id="text_to_text_input" aria-describedby="Your Text"></textarea>
              </div>
                <br>
                <div class="mb-3">
                    <label>No of Words</label>
                    <input type="number" class="form-control" id="no_of_words" required>
                </div>
                <br>
              <a type="submit" id="text_to_text_btn" class="btn btn-primary">Get Response</a>
            </form>
        </div>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
            <p id="text_to_text_show"></p>
            <a id="post" data-toggle="modal" data-target="#myModal" class="btn"
               style="background-color:#5B61EB !important;color:white;">Send To Community</a>
        </div>
    </div>
{% else %}
        <div class="text-center"><h2 >You Do Not Have Access To This Feature</h2></div>
    {% endif %}
{% else %}
        <div class="text-center">
            <h2 >Please Login To Access Our Voice To Voice Service </h2>
        </div>
    {% endif %}

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Select Teams</h3>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'SendPostCommunity' %}">
            {% csrf_token %}
              <input type="hidden" id="page" name="page" value="text_to_text">
              <input type="hidden" id="input" name="input">
              <input type="hidden" id="response" name="response">
          <div class="form-group">
              <select name="multiple_communities" class="form-select form-control" id='testSelect1' multiple>
                  {% for comm in communities %}
                    <option value='{{comm.id}}'>{{comm.name}}</option>
                  {% endfor %}
            </select>
          </div>
          <button type="submit" class="btn btn-primary" style="background-color:#5B61EB !important;color:white;">Send Post</button>
        </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color:#5B61EB !important;color:white;">X</button>
        </div>
      </div>

    </div>
  </div>

</div>
<script src="{% static 'chat/js/jquery-1.12.3.js' %}"></script>
<script src="https://cdn.WebRTC-Experiment.com/MediaStreamRecorder.js"></script>
<script src="https://webrtc.github.io/adapter/adapter-latest.js"></script>
<script src="{% static 'chat/js/bootstrap.min.js' %}"></script>
<script src="{% static 'chat/js/text_to_text.js' %}"></script>
<script>
	document.multiselect('#testSelect1')
		.setCheckBoxClick("checkboxAll", function(target, args) {
			console.log("Checkbox 'Select All' was clicked and got value ", args.checked);
		})
		.setCheckBoxClick("1", function(target, args) {
			console.log("Checkbox for item with value '1' was clicked and got value ", args.checked);
		});

	function enable() {
		document.multiselect('#testSelect1').setIsEnabled(true);
	}

	function disable() {
		document.multiselect('#testSelect1').setIsEnabled(false);
	}
</script>
</body>
</html>

