{% extends 'parent.html' %}
{% block tittle %}WechatListing | Chatgptmall{% endblock %}
{% load static %}
{% block body %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
          <h2 data-aos="fade-up">Wechat Listing</h2>
          <p data-aos="fade-up" data-aos-delay="100"></p>

          <form action="{% url 'wechatlisting' %}" method="post"
                class="form-search d-flex align-items-stretch mb-3" data-aos="fade-up" data-aos-delay="200">
            {% csrf_token %}
            <input type="text" name="q" class="form-control" placeholder="Search Item">
            <button type="submit" class="btn btn-primary">Search</button>
          </form>

        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="{% static 'shop/vendor/img/hero-img.svg' %}" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">


    <!-- ======= Services Section ======= -->
    <section id="service" class="services pt-0">
      <div class="container" data-aos="fade-up">

<!--        <div class="section-header">-->
<!--          <span>Our Services</span>-->
<!--          <h2>Our Services</h2>-->

<!--        </div>-->
        <br>
        <div class="row gy-4">

          {% for item in items %}
          <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="card">
              <div class="card-img" style="display: flex;justify-content: center;">
                {% if item.image %}
                <img src="{{item.image.url}}" style="height:160px;" alt="" class="img-fluid">
                <img src="{{item.qr_code.url}}" style="position: absolute;height: 89px;width: 89px;top: 21%;left: 64%;
                     background-color: red;" alt="" class="img-fluid">
                {% else %}
                <img src="https://www.bedfordcentre.com/plugins/noveldesign-store-directory/images/default-shop.jpg" style="height:160px;" alt="" class="img-fluid">
                {% endif %}
              </div>
              <h3 style="text-align:center;"><a href="{% url 'LearHowToUse' item.item_id %}" class="stretched-link">{{item.title}}</a></h3>
              <a class="get-a-quote" href="{% url 'LearHowToUse' item.item_id %}" style="text-align:center;margin-bottom:23px;">Learn How To Use?</a>
              <div style="display: flex;
    justify-content: center;margin: -16px 0px;">
                <p>location: </p>
                <p>{{item.location}}</p>
              </div>
              <div style="display: flex;
    justify-content: center;margin: -9px 0px;">
                <p>stock: </p>
                <p>{{item.stock}}</p>
              </div>
            </div>
          </div><!-- End Card Item -->
          {% endfor %}
        </div>

      </div>
    </section><!-- End Services Section -->

  </main><!-- End #main -->
{% endblock %}